DATABASE_URL="postgresql://neondb_owner:npg_TsMp5UwPE1RZ@ep-misty-cherry-aolmp64q.c-2.ap-southeast-1.aws.neon.tech/ltweb_wms?sslmode=require"
PORT=5001
JWT_SECRET="dev-jwt-secret"
JWT_REFRESH_SECRET="dev-jwt-refresh-secret"
